.incident
  .row-fluid
    .span3
      %h3.name= incident.defendant_name
      %p.docket-number= incident.docket_number
      %p
        %span.sex= format_sex(incident.defendant_sex) + ", "
        %span.age= incident.defendant_age

    .span3     
      %p
        %span.severity= incident.top_charge_code_expanded
        &mdash;
        %span.charge-code= format_top_charge(incident)
      %p.priors
        %span.count= incident.number_of_prior_criminal_convictions 
        = pluralize_without_count(incident.number_of_prior_criminal_convictions, "Criminal Conviction")
      %p.priors
        %span.count= incident.number_of_other_open_cases
        = pluralize_without_count(incident.number_of_other_open_cases, "Other Open Case")
      %p= format_badges(incident)

    .span3
      %span.court-date-note Next Court Date
      %h3.court-date= incident.next_court_date.strftime("%b %-d")
      %p.court-part= incident.next_court_part
      %p= incident.next_courthouse

    .span3
      %p= incident.arraignment_outcome
      %p.ror-recommendation= incident.recommendations.join(", ")
