- if @incidents.present?
  #incidents.span9
    - @incidents.each do |incident|
      .incident
        .row-fluid
          .span5
            %h3.name= incident.defendant_name
            %p.docket-number= incident.docket_number
          .span3
            - if incident.serving_parole?
              = build_disc("PA", "parole", "Serving Parole")
            - if incident.serving_probation?
              = build_disc("PR", "probation", "Serving Probation")
            - if incident.has_outstanding_bench_warrant?
              = build_disc("W", "warrant", "Has Oustanding Bench Warrant")
            - if incident.persistent_misdemeanant?
              = build_disc("PM", "persistent-misdemeanant", "Persistent Misdemeanant")
          .span3
            %span.court-date-note Next Court Date
            %h3.court-date= incident.next_court_date.strftime("%b %-d")
        .row-fluid
          .span1
            %p.sex= incident.defendant_sex
            %p.age= incident.defendant_age
          .span3.offset1
            %p.severity= incident.top_charge_code_expanded
            %p.charge-code= format_top_charge(incident)              
          .span3
            %p.priors
              %span.count= incident.number_of_prior_criminal_convictions 
              Criminal Convictions
          .span3
            %p.court-part= incident.next_court_part
            %p= incident.next_courthouse
        .row-fluid
          .offset5.span6
            = incident.recommendations.join(", ")
    .row-fluid
      = will_paginate @incidents, renderer: BootstrapPagination::Sinatra          

- else
  No cases found.
