- if @incidents.present?
  #incidents.span9
    - @incidents.each do |incident|
      .incident
        .row-fluid
          .span8
            .row-fluid
              %h3.name= "#{Faker::Name.last_name}, #{Faker::Name.first_name}" #incident.arrest_report.person_name
              %p.docket-number= incident.docket_number
          .span3
            %h3.court-date= incident.next_court_date.strftime("%b %-d")
            %span.court-date-note Next Court Date
        .row-fluid
          .span1
            %p.sex= incident.defendant_sex
            %p.age= incident.defendant_age
          .span3
            %p.severity= incident.top_charge_code_expanded
            %p.charge-code= format_top_charge(incident)              
          .span3
            %p.priors
              %span.count 3
              prior convictions
            %p.open-cases
              %span.count 1
              open case
          .span3.offset1
            %p.court-part= incident.next_court_part
            %p.last-updated
              Last updated
              %span.updated-date
                May 16
    .row-fluid
      = will_paginate @incidents, renderer: BootstrapPagination::Sinatra          

- else
  No cases found.
