- if @incidents.present?
  %table.table
    %thead
      %tr
        %th Defendant
        %th Docket
        %th Top Charge Severity
        %th Top Charge
        %th Gender
        %th Age
        %th Release Recommendation
        %th Next Court Date
        %th Next Court Part
    %tbody
      - @incidents.each do |incident|
        %tr
          %td
            = "#{Faker::Name.last_name}, #{Faker::Name.first_name}" #incident.arrest_report.person_name
          %td
            = incident.docket_number
          %td
            = incident.top_charge_code_expanded
          %td
            = %Q(<span title="#{incident.charges.first[:description]}"><b>#{incident.charges.first[:agency_code]}</b> - #{incident.charges.first[:counts]} #{incident.charges.first[:counts] > 1 ? "counts" : "count"} </span>) unless incident.charges.blank?
          %td
            = incident.defendant_sex
          %td
            = incident.defendant_age
          %td
            = incident.ror_report.try { |r| r.recommendations.map { |x| x.capitalize }.join(", ") }
          %td
            = incident.next_court_date
          %td
            = incident.next_court_part
    %tfoot
      %tr
        %td{colspan: "9"}
          = will_paginate @incidents, renderer: BootstrapPagination::Sinatra
          %a{href: "#", onclick: "alert('Coming soon.')"} Export CSV
- else
  No cases found.
