!!! 5

%html
  %head
    %title Criminal Case Search

    %script{ src: "/jquery-2.0.3.min.js" }

    %script{ src: "/bootstrap/js/bootstrap.min.js" }
    %link{ type: "text/css", rel: "stylesheet", href: "/bootstrap/css/bootstrap.min.css" }

    %script{ src: "/app.js" }
    %link{ type: "text/css", rel: "stylesheet", href: "/css/app.css" }

  %body
    .navbar.navbar-inverse.navbar-static-top
      .navbar-inner
        .container-fluid
          %button.btn.btn-navbar{ type: "button", "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{ href: "#"}
            %img{ src: "/images/logo.png", alt: "Criminal Case Search" }

    - container :fluid do
      .row-fluid
        %span.span3
          .well.datashare-filter
            %form{action: "/"}
              %fieldset

                %fieldset.secondary
                  .pull-right
                    %a.btn{href: "/"} Reset
                    %button.btn.btn-primary{ type: "submit"} Search

                %fieldset.secondary
                  %legend.top Borough

                  = build_checkbox_field("borough", "M", "Manhattan", :selected => true)
                  = build_checkbox_field("borough", "K", "Brooklyn", :selected => true)
                  = build_checkbox_field("borough", "B", "Bronx", :selected => true)
                  = build_checkbox_field("borough", "Q", "Queens", :selected => true)
                  = build_checkbox_field("borough", "S", "Staten Island", :selected => true)

                  .btn-group
                    %button.btn.inline.btn-mini.select-all All
                    %button.btn.inline.btn-mini.clear-all Clear

              %fieldset.secondary
                %legend.top Top Charge

                %fieldset.tertiary
                  %legend Severity

                  = build_radio_field("top-charge", "A", "Any")
                  = build_radio_field("top-charge", "VF", "Violent Felony")
                  = build_radio_field("top-charge", "F", "Non-Violent Felony")
                  = build_radio_field("top-charge", "M", "Misdemeanor")
                  = build_radio_field("top-charge", "VI", "Violation/Infraction")

                %fieldset.tertiary
                  %legend Type

                  = build_checkbox_field("include-charge", "D", "Drug Offense")
                  = build_checkbox_field("include-charge", "MA", "Misdemeanor Assault")
                  = build_checkbox_field("include-charge", "CC", "Criminal Contempt")
                  = build_checkbox_field("include-charge", "SO", "Sex Offense")
                  = build_checkbox_field("include-charge", "A", "All Other Offenses")

              %fieldset.secondary
                %legend.top Age
                
                .age-selector
                  .horiz-box
                    %label{ for: "min_age" } Min. Age
                    %input{ type: "number", name: "filter[min_age]", min: "16", max: "100", value: params[:filter][:min_age] || 16, id: "min_age" }
                  .horiz-box
                    %label{ for: "max_age" } Max. Age
                    %input{ type: "number", name: "filter[max_age]", min: "16", max: "100", value: params[:filter][:max_age] || 100 }

              %fieldset.secondary.text-center
                %legend.top Sex
                
                .text-center
                  .btn-group
                    %input{ type: "hidden", name: "filter[sex]", value: "M", id: "filter-sex-m" }
                    %label.btn{ for: "filter-sex-m" } Male
                    %input{ type: "hidden", name: "filter[sex]", value: "F", id: "filter-sex-f" }
                    %label.btn{ for: "filter-sex-f" } Female
                    %input{ type: "hidden", name: "filter[sex]", value: "A", id: "filter-sex-a", checked: "checked" }
                    %label.btn.active{ for: "filter-sex-a" } All

              %fieldset.secondary
                %legend.top Criminal History

                %fieldset.tertiary.horizontal
                  %legend Has other open cases?
                  = double_select("open-cases")

                %fieldset.tertiary.horizontal
                  %legend Has failed to appear?                  
                  = double_select("bench-warrants")

                %fieldset.tertiary
                  %legend Type of Prior Convictions

                  = build_checkbox_field("prior-convictions", "D", "Drug Offense", :selected => true)
                  = build_checkbox_field("prior-convictions", "S", "Sex Offense", :selected => true)
                  = build_checkbox_field("prior-convictions", "MA", "Misdemeanor Assault", :selected => true)
                  = build_checkbox_field("prior-convictions", "CC", "Criminal Contempt", :selected => true)
                  = build_checkbox_field("prior-convictions", "A", "All Other Offenses", :selected => true)

                  .btn-group
                    %button.btn.inline.btn-mini.select-all All
                    %button.btn.inline.btn-mini.clear-all Clear

                %fieldset.tertiary
                  %legend Number of Prior Convictions

                  .input-append
                    %input.span3{ type: "number", value: "0", min: "0"  }
                    .btn-group
                      %button.btn.dropdown-toggle{ data: { toggle: "dropdown" } }
                        or more
                        %span.caret
                      %ul.dropdown-menu
                        %li
                          %a or more
                        %li
                          %a or fewer

                  %fieldset.tertiary
                    %legend CJA Score

                    = build_checkbox_field("cja-score", "x", "x")
                    = build_checkbox_field("cja-score", "x", "x")
                    = build_checkbox_field("cja-score", "x", "x")

                  .btn-group
                    %button.btn.inline.btn-mini.select-all All
                    %button.btn.inline.btn-mini.clear-all Clear

              %fieldset.secondary
                %legend Next Court Appearance
                
                %fieldset.tertiary
                  %legend Type

                  .formify.btn-group{ data: { toggle: "buttons-radio", name: "appearance-type" } }
                    %button.btn{ type: "button", data: { value: "any", selected: "true" } } Any
                    %button.btn{ type: "button", data: { value: "pre-arr" } } Pre-Arr.
                    %button.btn{ type: "button", data: { value: "post-arr" } } Post-Arr.

                %fieldset.tertiary
                  %legend Date
                  
                  .formify.btn-group.btn-group-vertical{ data: { toggle: "buttons-radio", name: "date" } }
                    %button.btn{ type: "button", data: { value: "any", selected: "true" } } Any
                    %button.btn{ type: "button", data: { value: "today" } } Today
                    %button.btn{ type: "button", data: { value: "tomorrow" } } Tomorrow
                    %button.btn{ type: "button", data: { value: "7-day" } } Next 7 Days

        .span9
          .row-fluid
            .span3
              Sort by:
              .btn-group
                %button.btn.dropdown-toggle{ data: { toggle: "dropdown" } }
                  Defendant Name
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a Defendant Name
                  %li
                    %a Top Charge
                  %li
                    %a Next Court Date
                  %li
                    %a Number of Prior Convictions

            .span3
              %span.results             
                Found
                %span.total-results= @incidents.total_entries
                matching incidents.
            .span3
              %a{href: "/?format=csv&" + request.env['rack.request.query_string']} Export CSV
          .row-fluid
            = yield
