!!! 5

%html
  %head
    %title Criminal Case Search
    =# bootstrap_assets
    %script{ src: "/jquery-ui-bootstrap/js/jquery-1.9.0.min.js" }
    %script{ src: "/jquery-ui-bootstrap/js/jquery-ui-1.10.0.custom.min.js" }
    %script{ src: "/jquery-ui-bootstrap/js/bootstrap.min.js" }
    %script{ src: "/app.js" }
    %link{ type: "text/css", rel: "stylesheet", href: "/jquery-ui-bootstrap/css/bootstrap.min.css" }
    %link{ type: "text/css", rel: "stylesheet", href: "/jquery-ui-bootstrap/css/jquery-ui-1.10.0.custom.css" }
    %link{ type: "text/css", rel: "stylesheet", href: "/css/app.css" }

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %button.btn.btn-navbar{ type: "button", "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{ href: "#"}
            %img{ src: "/images/logo.png", alt: "Criminal Case Search" }
          -# .nav-collapse.collapse
            -# %p.navbar-text.pull-
            -# Logged in as <a href="#" class="navbar-link">Username</a>
          -# %ul.nav
            -# %li.active
            -#   %a{ href: "/"}
            -#     Home

    - container :fluid do
      .row-fluid
        %span.span3
          .well.datashare-filter
            %form{action: "/"}
              %fieldset

                %fieldset.secondary
                  %legend.top Borough

                  = build_checkbox_field("borough", "M", "Manhattan", :selected => true)
                  = build_checkbox_field("borough", "K", "Brooklyn", :selected => true)
                  = build_checkbox_field("borough", "B", "Bronx", :selected => true)
                  = build_checkbox_field("borough", "Q", "Queens", :selected => true)
                  = build_checkbox_field("borough", "S", "Staten Island", :selected => true)

                  .btn-group
                    %button.btn.inline.btn-mini.select-all All
                    %button.btn.inline.btn-mini.clear-all Clear

              %fieldset.secondary
                %legend.top Top Charge

                %fieldset.tertiary
                  %legend Severity

                  = build_radio_field("top-charge", "A", "Any")
                  = build_radio_field("top-charge", "X", "Violent Felony")
                  = build_radio_field("top-charge", "F", "Non-Violent Felony")
                  = build_radio_field("top-charge", "M", "Misdemeanor")
                  = build_radio_field("top-charge", "VI", "Violation/Infraction")

                %fieldset.tertiary
                  %legend Charge

                  = build_checkbox_field("include-charge", "D", "Drug Offense")
                  = build_checkbox_field("include-charge", "MA", "Misdemeanor Assault")
                  = build_checkbox_field("include-charge", "CC", "Criminal Contempt")
                  = build_checkbox_field("include-charge", "SO", "Sex Offense")
                  = build_checkbox_field("include-charge", "A", "All Other Offenses")

              %fieldset.secondary
                %legend.top Age
                
                .age-selector
                  .horiz-box
                    %label{ for: "min_age" } Min. Age
                    %input{ type: "number", name: "filter[min_age]", min: "16", max: "100", value: params[:filter][:min_age] || 16, id: "min_age" }
                  .horiz-box
                    %label{ for: "max_age" } Max. Age
                    %input{ type: "number", name: "filter[max_age]", min: "16", max: "100", value: params[:filter][:max_age] || 100 }

              %fieldset.secondary.text-center
                %legend.top Sex
                
                .text-center
                  .buttonset
                    %input{ type: "radio", name: "filter[sex]", value: "m", id: "filter-sex-m" }
                    %label{ for: "filter-sex-m" } Male
                    %input{ type: "radio", name: "filter[sex]", value: "f", id: "filter-sex-f" }
                    %label{ for: "filter-sex-f" } Female
                    %input{ type: "radio", name: "filter[sex]", value: "f", id: "filter-sex-a", checked: "checked" }
                    %label{ for: "filter-sex-a" } All

              %fieldset.secondary
                %legend.top Criminal History

                %fieldset.tertiary.horizontal
                  %legend Has other open cases?
                  = double_select("open-cases")

                %fieldset.tertiary.horizontal
                  %legend Has failed to appear?                  
                  = double_select("bench-warrants")

                %fieldset.tertiary
                  %legend Type of Prior Convictions

                  = build_checkbox_field("prior-convictions", "D", "Drug Offense", :selected => true)
                  = build_checkbox_field("prior-convictions", "S", "Sex Offense", :selected => true)
                  = build_checkbox_field("prior-convictions", "MA", "Misdemeanor Assault", :selected => true)
                  = build_checkbox_field("prior-convictions", "CC", "Criminal Contempt", :selected => true)
                  = build_checkbox_field("prior-convictions", "A", "All Other Offenses", :selected => true)

                  .btn-group
                    %button.btn.inline.btn-mini.select-all All
                    %button.btn.inline.btn-mini.clear-all Clear

                %fieldset.tertiary
                  %legend Number of Prior Convictions

                  .input-append
                    %input.span3{ type: "number", value: "0", min: "0"  }
                    .btn-group
                      %button.btn.dropdown-toggle{ data: { toggle: "dropdown" } }
                        or fewer
                        %span.caret
                      %ul.dropdown-menu
                        %li
                          %a or more
                        %li
                          %a or fewer

              %fieldset.secondary
                %legend Next Court Appearance
                
                %fieldset.tertiary
                  %legend Type

                  .buttonset
                    %input{ type: "radio", name: "appearance-type", id: "appearance-type-pre-arraignment" }
                    %label{ for: "appearance-type-pre-arraignment" } Pre-Arr.

                    %input{ type: "radio", name: "appearance-type", id: "appearance-type-post-arraignment" }
                    %label{ for: "appearance-type-post-arraignment" } Post-Arr.

                    %input{ type: "radio", name: "appearance-type", id: "appearance-type-any", checked: "" }
                    %label{ for: "appearance-type-any" } Any

                %fieldset.tertiary
                  %legend Date

                  .buttonset
                    %input{ type: "radio", name: "appearance-date", id: "appearance-date-today" }
                    %label{ for: "appearance-date-today" } Today

                    %input{ type: "radio", name: "appearance-date", id: "appearance-date-tomorrow" }
                    %label{ for: "appearance-date-tomorrow" } Tomorrow

                    %input{ type: "radio", name: "appearance-date", id: "appearance-date-week" }
                    %label{ for: "appearance-date-week" } Week

                    %input{ type: "radio", name: "appearance-date", id: "appearance-date-any",  checked: "" }
                    %label{ for: "appearance-date-any" } Any

              %fieldset
                %legend
                .pull-right
                  %a.btn{href: "/"} Reset
                  %button.btn.btn-primary{ type: "submit"} Search

        .span9
          = yield
