!!! 5

%html
  %head
    %title Criminal Case Search
    =# bootstrap_assets
    %script{ src: "/jquery-ui-bootstrap/js/jquery-1.9.0.min.js" }
    %script{ src: "/jquery-ui-bootstrap/js/jquery-ui-1.10.0.custom.min.js" }
    %script{ src: "/jquery-ui-bootstrap/js/bootstrap.min.js" }
    %script{ src: "/app.js" }
    %link{ type: "text/css", rel: "stylesheet", href: "/jquery-ui-bootstrap/css/bootstrap.min.css" }
    %link{ type: "text/css", rel: "stylesheet", href: "/jquery-ui-bootstrap/css/jquery-ui-1.10.0.custom.css" }

    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .datashare-filter {
        padding: 9px;
      }
      .datashare-filter fieldset {
        display: block;
      }
      .datashare-filter legend {
        display: block;
        margin-bottom: 3px;
        height: auto;
      }      
      .datashare-filter fieldset.secondary legend.top {
        font-weight: 400;
        font-size: 18px;
      }
      .datashare-filter fieldset.tertiary legend {
        font-size: 14px;
        font-weight: 600;
        border: 0;
      }
      .datashare-filter .field {
        display: block;
        padding-top: 2px;
      }
      .datashare-filter .field input {
        padding: 0;
        display: inline;
        margin-bottom: 7px;
      }
      .datashare-filter .field label {
        padding: 0;
        display: inline-block;
        margin-left: 2px;
      }
      .horiz-control {
        display: block;
        padding: 10px;
      }

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %button.btn.btn-navbar{ type: "button", "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{ href: "#"}
            Criminal Case Search
            -# .nav-collapse.collapse
              -# %p.navbar-text.pull-
              -# Logged in as <a href="#" class="navbar-link">Username</a>
            -# %ul.nav
              -# %li.active
              -#   %a{ href: "/"}
              -#     Home

    - container :fluid do
      .row-fluid
        %span.span3
          .well.datashare-filter
            %form{action: "/"}
              %fieldset
                -# %legend Filter
              
                -# %p= params[:filter][:borough].inspect

                %fieldset.secondary
                  %legend.top Borough

                  .field
                    %input{ type: "checkbox", name: "filter[borough][]", id: "borough-manhattan", value: "M", checked: params[:filter][:borough].try(:include?, "M") }
                    %label{ for: "borough-manhattan" } Manhattan

                  .field
                    %input{ type: "checkbox", name: "filter[borough][]", id: "borough-brooklyn", value: "K", checked: params[:filter][:borough].try(:include?, "K") }
                    %label{ for: "borough-brooklyn" } Brooklyn     

                  .field
                    %input{ type: "checkbox", name: "filter[borough][]", id: "borough-bronx", value: "B", checked: params[:filter][:borough].try(:include?, "B")}
                    %label{ for: "borough-bronx" } Bronx

                  .field
                    %input{ type: "checkbox", name: "filter[borough][]", id: "borough-queens", value: "Q", checked: params[:filter][:borough].try(:include?, "Q") }
                    %label{ for: "borough-queens" } Queens

                  .field
                    %input{ type: "checkbox", name: "filter[borough][]", id: "borough-staten", value: "S", checked: params[:filter][:borough].try(:include?, "S")}
                    %label{ for: "borough-staten" } Staten Island

                  .btn-group.pull-right
                    %button.btn.inline.btn-mini.select-all All
                    %button.btn.inline.btn-mini.btn-danger.clear-all Clear

              %fieldset.secondary
                %legend.top Charges

                %fieldset.tertiary
                  %legend Top Charge

                  = build_radio_field("top-charge", "A", "Any")
                  = build_radio_field("top-charge", "F", "Felony")
                  = build_radio_field("top-charge", "X", "Violent Felony")
                  = build_radio_field("top-charge", "M", "Misdemeanor")
                  = build_radio_field("top-charge", "V", "Violation")
                  = build_radio_field("top-charge", "I", "Infraction")

                %fieldset.tertiary
                  %legend Include Charge

                  = build_checkbox_field("include-charge", "D", "Drug Offense")
                  = build_checkbox_field("include-charge", "MA", "Misdemeanor Assault")
                  = build_checkbox_field("include-charge", "CC", "Criminal Contempt")
                  = build_checkbox_field("include-charge", "SO", "Sex Offense")

                  .btn-group.pull-right
                    %button.btn.inline.btn-mini.select-all All
                    %button.btn.inline.btn-mini.btn-danger.clear-all Clear

              %fieldset.secondary
                %legend.top Age
                
                .horiz-control
                  .slider{ data: { debug: "foo" } }
                    %input.slider-data{ type: "hidden" }

              %fieldset.secondary
                %legend.top Sex
                
                .horiz-control
                  .btn-group.buttons-radio.sex{data: {toggle: "buttons-checkbox"}}
                    %button.btn{type: "button", class: params[:filter][:sex] == nil || params[:filter][:sex] == "All" ? "active" : ""  } All
                    %button.btn{type: "button", class: params[:filter][:sex] == "Male" ? "active" : "" } Male
                    %button.btn{type: "button", class: params[:filter][:sex] == "Female" ? "active" : "" } Female
                    %input.sex{type: "hidden", name: "filter[sex]", value: params[:filter][:sex] || "All" }

              %fieldset.secondary
                %legend.top Criminal History

                %fieldset.tertiary
                  %legend Open Cases
                  
                  .field
                    %input{ type: "radio", name: "open-cases", id: "open-cases-include", checked: "checked" }
                    %label{ for: "open-cases-include" } Include
                  
                  .field
                    %input{ type: "radio", name: "open-cases", id: "open-cases-exclude" }
                    %label{ for: "open-cases-exclude" } Exclude

                %fieldset.tertiary
                  %legend Prior Convictions

                  .field
                    %input{ type: "radio", name: "prior-convictions", id: "prior-convictions-none" }
                    %label{ for: "prior-convictions-none" } None

                  .field
                    %input{ type: "radio", name: "prior-convictions", id: "prior-convictions-one-plus" }
                    %label{ for: "prior-convictions-one-plus" } One or More

                  .field
                    %input{ type: "radio", name: "prior-convictions", id: "prior-convictions-three-plus"}
                    %label{ for: "prior-convictions-three-plus" } Three or More

                  .field
                    %input{ type: "radio", name: "prior-convictions", id: "prior-convictions-five-plus" }
                    %label{ for: "prior-convictions-five-plus" } Five or More

                %fieldset.tertiary
                  %legend Number of Prior Convictions

                  .field
                    %input{ type: "radio", name: "prior-convictions", id: "prior-convictions-none" }
                    %label{ for: "prior-convictions-none" } None

                  .field
                    %input{ type: "radio", name: "prior-convictions", id: "prior-convictions-one-plus" }
                    %label{ for: "prior-convictions-one-plus" } One or More

                  .field
                    %input{ type: "radio", name: "prior-convictions", id: "prior-convictions-three-plus"}
                    %label{ for: "prior-convictions-three-plus" } Three or More

                  .field
                    %input{ type: "radio", name: "prior-convictions", id: "prior-convictions-five-plus" }
                    %label{ for: "prior-convictions-five-plus" } Five or More

                %fieldset.tertiary
                  %legend Prior Bench Warrants

                  .field
                    %input{ type: "radio", name: "prior-bench-warrants", id: "prior-bench-warrants-include", checked: "checked" }
                    %label{ for: "prior-bench-warrants-include" } Include
                  
                  .field
                    %input{ type: "radio", name: "prior-bench-warrants", id: "prior-bench-warrants-exclude" }
                    %label{ for: "prior-bench-warrants-exclude" } Exclude

              %fieldset.secondary
                %legend Next Court Appearance
                
                %fieldset.tertiary
                  %legend Type

                  .field
                    %input{ type: "radio", name: "appearance-type", id: "appearance-type-all" }
                    %label{ for: "appearance-type-all" } All

                  .field
                    %input{ type: "radio", name: "appearance-type", id: "appearance-type-pre-arraignment" }
                    %label{ for: "appearance-type-pre-arraignment" } Pre-Arraignment

                  .field
                    %input{ type: "radio", name: "appearance-type", id: "appearance-type-post-arraignment" }
                    %label{ for: "appearance-type-post-arraignment" } Post-Arraignment

                %fieldset.tertiary
                  %legend Date

                  .field
                    %input{ type: "radio", name: "appearance-date", id: "appearance-date-all" }
                    %label{ for: "appearance-date-all" } All

                  .field
                    %input{ type: "radio", name: "appearance-date", id: "appearance-date-today" }
                    %label{ for: "appearance-date-today" } Today

                  .field
                    %input{ type: "radio", name: "appearance-date", id: "appearance-date-tomorrow" }
                    %label{ for: "appearance-date-tomorrow" } Tomorrow

              .form-actions
                %button.btn.btn-primary{ type: "submit"} Filter
                %a.btn{href: "/"} Reset

        .span8
          = yield
