!!! 5

%html
  %head
    %title Criminal Case Search
    =# bootstrap_assets
    %script{ src: "/jquery-ui-bootstrap/js/jquery-1.9.0.min.js" }
    %script{ src: "/jquery-ui-bootstrap/js/jquery-ui-1.10.0.custom.min.js" }
    %script{ src: "/jquery-ui-bootstrap/js/bootstrap.min.js" }
    %script{ src: "/app.js" }
    %link{ type: "text/css", rel: "stylesheet", href: "/jquery-ui-bootstrap/css/bootstrap.min.css" }
    %link{ type: "text/css", rel: "stylesheet", href: "/jquery-ui-bootstrap/css/jquery-ui-1.10.0.custom.css" }
    %link{ type: "text/css", rel: "stylesheet", href: "/css/app.css" }

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %button.btn.btn-navbar{ type: "button", "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{ href: "#"}
            %img{ src: "/images/logo.png", alt: "Criminal Case Search" }
          -# .nav-collapse.collapse
            -# %p.navbar-text.pull-
            -# Logged in as <a href="#" class="navbar-link">Username</a>
          -# %ul.nav
            -# %li.active
            -#   %a{ href: "/"}
            -#     Home

    - container :fluid do
      .row-fluid
        %span.span3
          .well.datashare-filter
            %form{action: "/"}
              %fieldset
                -# %legend Filter
              
                -# %p= params[:filter][:borough].inspect

                %fieldset.secondary
                  %legend.top Borough

                  .field
                    %input{ type: "checkbox", name: "filter[borough][]", id: "borough-manhattan", value: "M", checked: params[:filter][:borough].try(:include?, "M") }
                    %label{ for: "borough-manhattan" } Manhattan

                  .field
                    %input{ type: "checkbox", name: "filter[borough][]", id: "borough-brooklyn", value: "K", checked: params[:filter][:borough].try(:include?, "K") }
                    %label{ for: "borough-brooklyn" } Brooklyn     

                  .field
                    %input{ type: "checkbox", name: "filter[borough][]", id: "borough-bronx", value: "B", checked: params[:filter][:borough].try(:include?, "B")}
                    %label{ for: "borough-bronx" } Bronx

                  .field
                    %input{ type: "checkbox", name: "filter[borough][]", id: "borough-queens", value: "Q", checked: params[:filter][:borough].try(:include?, "Q") }
                    %label{ for: "borough-queens" } Queens

                  .field
                    %input{ type: "checkbox", name: "filter[borough][]", id: "borough-staten", value: "S", checked: params[:filter][:borough].try(:include?, "S")}
                    %label{ for: "borough-staten" } Staten Island

                  .btn-group.pull-right
                    %button.btn.inline.btn-mini.select-all All
                    %button.btn.inline.btn-mini.clear-all Clear

              %fieldset.secondary
                %legend.top Charges

                %fieldset.tertiary
                  %legend Top Charge

                  = build_radio_field("top-charge", "A", "Any")
                  = build_radio_field("top-charge", "X", "Violent Felony")
                  = build_radio_field("top-charge", "F", "Felony")
                  = build_radio_field("top-charge", "M", "Misdemeanor")
                  = build_radio_field("top-charge", "V", "Violation")
                  = build_radio_field("top-charge", "I", "Infraction")

                %fieldset.tertiary
                  %legend Include Charge

                  = build_checkbox_field("include-charge", "D", "Drug Offense")
                  = build_checkbox_field("include-charge", "MA", "Misdemeanor Assault")
                  = build_checkbox_field("include-charge", "CC", "Criminal Contempt")
                  = build_checkbox_field("include-charge", "SO", "Sex Offense")

                  .btn-group.pull-right
                    %button.btn.inline.btn-mini.select-all All
                    %button.btn.inline.btn-mini.clear-all Clear

              %fieldset.secondary
                %legend.top Age
                
                .slider.horiz-control
                  %p
                    %span.slider-display-min
                    to
                    %span.slider-display-max

                  .slider-control
                    %input.slider-data-min{ type: "hidden", name: "filter[min_age]", value: params[:filter][:min_age] || 16 }
                    %input.slider-data-max{ type: "hidden", name: "filter[max_age]", value: params[:filter][:max_age] || 100 }

              %fieldset.secondary.text-center
                %legend.top Sex
                
                .text-center
                  .buttonset
                    %input{ type: "checkbox", name: "filter[sex]", value: "m", id: "filter-sex-m" }
                    %label{ for: "filter-sex-m" } Male
                    %input{ type: "checkbox", name: "filter[sex]", value: "f", id: "filter-sex-f" }
                    %label{ for: "filter-sex-f" } Female

              %fieldset.secondary
                %legend.top Criminal History

                %fieldset.tertiary.horizontal
                  .span7
                    %legend Has other open cases?
                  .span5.pull-right
                    = double_select("open-cases")

                %fieldset.tertiary.horizontal
                  .span7
                    %legend Has failed to appear?
                  .span5.pull-right
                    = double_select("bench-warrants")

                %fieldset.tertiary
                  %legend Number of Prior Criminal Convictions

                  .input-prepend
                    .btn-group
                      %button.btn.dropdown-toggle{ data: { toggle: "dropdown" } }
                        More than
                        %span.caret
                      %ul.dropdown-menu
                        %li
                          %a More than
                        %li
                          %a Less than
                    %input.span3{ type: "number", value: "0", min: "0"  }

              %fieldset.secondary
                %legend Next Court Appearance
                
                %fieldset.tertiary
                  %legend Type

                  .buttonset
                    %input{ type: "radio", name: "appearance-type", id: "appearance-type-all", selected: "" }
                    %label{ for: "appearance-type-all" } All

                    %input{ type: "radio", name: "appearance-type", id: "appearance-type-pre-arraignment" }
                    %label{ for: "appearance-type-pre-arraignment" } Pre-Arr.

                    %input{ type: "radio", name: "appearance-type", id: "appearance-type-post-arraignment" }
                    %label{ for: "appearance-type-post-arraignment" } Post-Arr.

                %fieldset.tertiary
                  %legend Date

                  .buttonset
                    %input{ type: "radio", name: "appearance-date", id: "appearance-date-all",  selected: "" }
                    %label{ for: "appearance-date-all" } All

                    %input{ type: "radio", name: "appearance-date", id: "appearance-date-today" }
                    %label{ for: "appearance-date-today" } Today

                    %input{ type: "radio", name: "appearance-date", id: "appearance-date-tomorrow" }
                    %label{ for: "appearance-date-tomorrow" } Tomorrow

            %fieldset
              %legend
              .pull-right
                %a.btn{href: "/"} Reset
                %button.btn.btn-primary{ type: "submit"} Search

        .span9
          = yield
