!!! 5

%html
  %head
    %title Criminal Case Search

    %script{ src: "/jquery-2.0.3.min.js" }

    %script{ src: "/bootstrap/js/bootstrap.min.js" }
    %link{ type: "text/css", rel: "stylesheet", href: "/bootstrap/css/bootstrap.min.css" }

    %script{ src: "/app.js" }
    %link{ type: "text/css", rel: "stylesheet", href: "/css/app.css" }

  %body
    .navbar.navbar-inverse.navbar-static-top
      .navbar-inner
        .container-fluid
          %button.btn.btn-navbar{ type: "button", "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{ href: "#"}
            %img{ src: "/images/logo.png", alt: "Criminal Case Search" }

    - container :fluid do
      .row-fluid
        %span.span3
          .well.datashare-filter
            %form{action: "/"}
              %fieldset

                %fieldset.secondary
                  .pull-right
                    %a.btn{href: "/"} Reset
                    %button.btn.btn-primary{ type: "submit"} Search

                %fieldset.secondary
                  %legend.top Borough

                  = build_checkbox_field("borough", "B", "Bronx", :selected => true)
                  = build_checkbox_field("borough", "K", "Brooklyn", :selected => true)
                  = build_checkbox_field("borough", "M", "Manhattan", :selected => true)
                  = build_checkbox_field("borough", "Q", "Queens", :selected => true)
                  = build_checkbox_field("borough", "S", "Staten Island", :selected => true)

                  .btn-group
                    %button.btn.inline.btn-mini.select-all All
                    %button.btn.inline.btn-mini.clear-all Clear

              %fieldset.secondary
                %legend.top Top Charge

                %fieldset.tertiary
                  %legend Severity

                  = build_radio_field("top_charge", "A", "Any", :selected => true)
                  = build_radio_field("top_charge", "VF", "Violent Felony")
                  = build_radio_field("top_charge", "F", "Non-Violent Felony")
                  = build_radio_field("top_charge", "M", "Misdemeanor")
                  = build_radio_field("top_charge", "VI", "Violation/Infraction")

                %fieldset.tertiary
                  %legend Type

                  = build_checkbox_field("include_charge", "D", "Drug Offense")
                  = build_checkbox_field("include_charge", "MA", "Misdemeanor Assault")
                  = build_checkbox_field("include_charge", "CC", "Criminal Contempt")
                  = build_checkbox_field("include_charge", "SO", "Sex Offense")

                  .btn-group
                    %button.btn.inline.btn-mini.select-all All
                    %button.btn.inline.btn-mini.clear-all Clear

              %fieldset.secondary
                %legend.top Age
                
                .age-selector
                  .horiz-box
                    %label{ for: "min_age" } Min. Age
                    %input{ type: "number", name: "filter[min_age]", min: "16", max: "100", value: params[:filter][:min_age] || 16, id: "min_age" }
                  .horiz-box
                    %label{ for: "max_age" } Max. Age
                    %input{ type: "number", name: "filter[max_age]", min: "16", max: "100", value: params[:filter][:max_age] || 100 }

              %fieldset.secondary
                %legend.top Sex
                
                .formify.btn-group{ data: { toggle: "buttons-radio", name: "sex" } }
                  %button.btn{ type: "button", data: { value: "M", selected: true_if(params[:filter][:sex], "M")} } Male
                  %button.btn{ type: "button", data: { value: "F", selected: true_if(params[:filter][:sex], "F")} } Female
                  %button.btn{ type: "button", data: { value: "A", selected: true_if(params[:filter][:sex], ["A", nil]) } } All

              %fieldset.secondary
                %legend.top Criminal History

                %fieldset.tertiary.horizontal
                  %legend Has other open cases?
                  = double_select("open_cases")

                %fieldset.tertiary.horizontal
                  %legend Has failed to appear on a previous case?                  
                  = double_select("failed_to_appear")

                %fieldset.tertiary
                  %legend Type of Prior Convictions

                  = build_checkbox_field("prior_convictions", "D", "Drug Offense")
                  = build_checkbox_field("prior_convictions", "SO", "Sex Offense")
                  = build_checkbox_field("prior_convictions", "MA", "Misdemeanor Assault")
                  = build_checkbox_field("prior_convictions", "CC", "Criminal Contempt")

                  .btn-group
                    %button.btn.inline.btn-mini.select-all All
                    %button.btn.inline.btn-mini.clear-all Clear

                %fieldset.tertiary
                  %legend Number of Prior Convictions

                  .input-append
                    %input.span3{ type: "number", value: "0", min: "0", name: "filter[number_of_prior_convictions]"  }
                    .btn-group.dropdown-form
                      %button.btn.dropdown-toggle{ data: { toggle: "dropdown" } }
                        %span.dropdown-main-text
                          or more
                        %span.caret
                      %ul.dropdown-menu
                        %li
                          %a.dropdown-opt{ data: { value: "more" } }
                            or more
                        %li
                          %a.dropdown-opt{ data: { value: "fewer" } }
                            or fewer
                      %input{ class: "dropdown-input",
                              type:  "hidden",
                              name:  "filter[prior_conviction_bounds]",
                              value: params[:filter][:prior_conviction_bounds] || "more" }

                  -# %fieldset.tertiary
                  -#   %legend CJA Score

                  -#   = build_checkbox_field("cja_score", "x", "x")
                  -#   = build_checkbox_field("cja_score", "x", "x")
                  -#   = build_checkbox_field("cja_score", "x", "x")

                  -# .btn-group
                  -#   %button.btn.inline.btn-mini.select-all All
                  -#   %button.btn.inline.btn-mini.clear-all Clear

              %fieldset.secondary
                %legend Next Court Appearance
                
                %fieldset.tertiary
                  %legend Type

                  .formify.btn-group{ data: { toggle: "buttons-radio", name: "appearance_type" } }
                    %button.btn{ type: "button", data: { value: "any", selected: true_if(params[:filter][:appearance_type], ["any", nil])} } All
                    %button.btn{ type: "button", data: { value: "arr", selected: true_if(params[:filter][:appearance_type], "arr") } } Arraignment
                    %button.btn{ type: "button", data: { value: "post-arr", selected: true_if(params[:filter][:appearance_type], "post-arr") } } Post-Arr.

                %fieldset.tertiary
                  %legend Date
                  
                  #next-appearance-date.formify.btn-group.btn-group-vertical{ data: { toggle: "buttons-radio", name: "next_court_date" } }
                    %button.btn{ type: "button", data: { value: "any", selected: true_if(params[:filter][:next_court_date], ["any", nil]) } } Any
                    %button.btn{ type: "button", data: { value: "today", selected: true_if(params[:filter][:next_court_date], "today") } } Today
                    %button.btn{ type: "button", data: { value: "tomorrow", selected: true_if(params[:filter][:next_court_date], "tomorrow") } } Tomorrow
                    %button.btn{ type: "button", data: { value: "7-day", selected: true_if(params[:filter][:next_court_date], "7-day") } } Next 7 Days

        .span9
          .row-fluid
            .span3
              Sort by:
              .btn-group
                %button.btn.dropdown-toggle{ data: { toggle: "dropdown" } }
                  Defendant Name
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a Defendant Name
                  %li
                    %a Top Charge
                  %li
                    %a Next Court Date
                  %li
                    %a Number of Prior Convictions

            .span3
              %span.results             
                Found
                %span.total-results= @incidents.total_entries
                matching incidents.
            .span3
              %a{href: "/?format=csv&" + request.env['rack.request.query_string']} Export CSV
          .row-fluid
            = yield
